<section class="section social">
    <h2>Follow us</h2>
    {% if site.social.facebook %}
        <a href="https://facebook.com/{{ site.social.facebook }}" class="button"><span class="icon"><span class="fa fa-facebook {{ site.social.icon_size }}"></span></span></a>
    {% endif %}
    {% if site.social.twitter %}
        <a href="https://twitter.com/{{ site.social.twitter }}" class="button"><span class="icon"><span class="fa fa-twitter {{ site.social.icon_size }}"></span></span></a>
    {% endif %}
    {% if site.social.google %}
        <a href="https://plus.google.com/{{ site.social.google }}" class="button"><span class="icon"><span class="fa fa-google-plus {{ site.social.icon_size }}"></span></span></a>
    {% endif %}
    {% if site.social.instagram %}
        <a href="https://instagram.com/{{ site.social.instagram }}" class="button"><span class="icon"><span class="fa fa-instagram {{ site.social.icon_size }}"></span></span></a>
    {% endif %}
    {% if site.social.pinterest %}
        <a href="https://pinterest.com/{{ site.social.pinterest }}" class="button"><span class="icon"><span class="fa fa-pinterest {{ site.social.icon_size }}"></span></span></a>
    {% endif %}
    {% if site.social.linkedin %}
        <a href="https://linkedin.com/in/{{ site.social.linkedin }}" class="button"><span class="icon"><span class="fa fa-linkedin {{ site.social.icon_size }}"></span></span></a>
    {% endif %}
</section>