<section class="section subscribe">
    <h2>Subscribe to updates</h2>
    <form action="{{ subscribe.action }}" method="post">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input type="email" name="email" placeholder="Email" class="input">
            </div>
            <div class="control">
                <input type="submit" value="Subscribe" class="button is-primary">
            </div>
        </div>
    </form>
    <p>We will never share your address.</p>
</section>